<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sl="http://www.nlog-project.org/schemas/NLog.Targets.Syslog.xsd"
      autoReload="true">
	
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<!-- Настройка записи логов в консоль -->
		<target xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" name ="console">
			layout="${longdate}|${event-properties:item=EventId_Id}| (${uppercase:${level}}) |${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
			<highlight-word regex="(\d*.)?\d*ms" foregroundColor="Green" />
			<highlight-word regex="\d{4}(-\d{2}){2}\s(\d{2}(:|.)){3}\d{4}" foregroundColor="DarkGreen"/>
			<highlight-word regex="\|" foregroundColor="Cyan" />
			<highlight-word text="ERROR" foregroundColor="DarkRed" />
			<highlight-word text="WARN" foregroundColor="Yellow" />
			<highlight-word text="DEBUG" foregroundColor="DarkGray" />
		</target>
	</targets>

	<rules>
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
		<logger name="Microsoft.EntityFrameworkCore.*" maxLevel="Error" final="true" />
		<logger name="*" minlevel="Info" writeTo="syslog" />
		<logger name="*" minlevel="Trace" writeTo="console" />
	</rules>
</nlog>